@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
  
  body.dark {
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    background-color: #121212;
    color: #ffffff;
  }
  
  .app-container {
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    padding: 20px;
    position: relative;
  }
  
  .app-container.dark {
    background-color: #121212;
  }
  
  .switch-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .my-atropos {
    margin-top: 60px; /* Adjust this if needed */
  }